<h1 mat-dialog-title>Editando Opción</h1>
<div mat-dialog-content>
    <form #actualizarForm="ngForm" (ngSubmit)="actualizar(actualizarForm)">
        <input type="hidden" name="codigo" [ngModel]="data.codigo">
        <label for="nombre">Nombre</label>
        <input 
        type="text" 
        id="nombre" 
        name="nombre"
        required
        minlength="3"
        [ngModel]="data.nombre">
        <br>
        <label for="enlace">Enlace</label>
        <input 
        type="text" 
        id="enlace" 
        name="enlace"
        minlength="1"
        [ngModel]="data.enlace">
<br>

        <label for="icono">Icono</label>
        <input 
        type="text" 
        id="icono"
         name="icono"
         minlength="1"
         [ngModel]="data.icono">
         <br>
         <button [disabled]="!actualizarForm.valid" type="submit">Actualizar</button>

    </form>
</div>